!!! 5
%html
	%head
		%title
			= yield :title
		/[if lt IE 9]
			= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		%meta{ :name => "viewport", :content => "width=device-width initial-scale=1.0" }

	%body
		.navbar.navbar-static-top
			.navbar-inner
				.container
					%ul.top-nav.nav.nav-tabs
						%li= link_to "Browse", root_url
						%li= link_to "Browse by Book", "#"
						%li= link_to "Random Movies", "#"
						%li= link_to "Crew Catalog", "#"
						%li= link_to "Statistics", "#"

		.container
			= content_for?(:content) ? yield(:content) : yield